<div class="container">
<form>
    <mat-form-field>
      <mat-label>Inserire nome</mat-label>
      <input matInput placeholder="Nome" value="">
    </mat-form-field>
  </form>  
    <form>
      <mat-form-field>
        <mat-label>Inserire cognome</mat-label>
        <input matInput placeholder="Cognome" value="">
      </mat-form-field>
</form>
<form>
    <mat-form-field>
      <mat-label>Inserire data di nascita</mat-label>
      <input matInput placeholder="GG-MM-YYYY" value="">
    </mat-form-field>
</form>
<form>
    <mat-form-field>
      <mat-label>Inserire email</mat-label>
      <input matInput placeholder="email" value="">
    </mat-form-field>
</form>
<form>
    <mat-form-field>
      <mat-label>Inserire username</mat-label>
      <input matInput placeholder="username" value="">
    </mat-form-field>
</form>
<form>
    <mat-form-field>
      <mat-label>Inserire password</mat-label>
      <input matInput placeholder="password" value="">
    </mat-form-field>
</form>
<form>
    <mat-form-field>
      <mat-label>Inserire indirizzo</mat-label>
      <input matInput placeholder="indirizzo" value="">
    </mat-form-field>
</form>
<button mat-raised-button routerLink="/home">Effettua la registrazione</button>
</div>