<div class="card" *ngIf="prodotto">
    <div class="img-container">
        <img mat-card-image [src]="prodotto.urlImmagine" [routerLink]="['/categorie', prodotto.idCategoria, 'prodotti', prodotto.id ]"/>
    </div>
    <div class="content">
        <div class="descrizione">
            <p> {{prodotto.descrizioneBreve}}</p>
        </div>
        <div class="info-container">
            <div class="disponibilita">
                Disponibilità: <span class="info">{{prodotto.disponibilita}} pezzi</span>
            </div>
            <div class="prezzo">
                Prezzo: <strong class="info">€{{prodotto.prezzo}}</strong>
            </div>
        </div>
    </div>
    <div class="card-buttons-container row g-0">
        <div class="col card-buttons">
            <button matTooltip="Carrello" mat-flat-button class="card-button-cart" (click)="addProdotto(prodotto)">
                <mat-icon>add_shopping_cart</mat-icon>
            </button>
            <button matTooltip="Dettaglio" mat-flat-button class="card-button-detail" [routerLink]="['/categorie', prodotto.idCategoria, 'prodotti', prodotto.id ]">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </div>
</div>
