<div class="card" *ngIf="prodotto">
    <div class="img-container">
        <img mat-card-image [src]="" [routerLink]="['/categorie', prodotto.idCategoria, 'prodotti', prodotto.id ]"/>
    </div>
    <div class="content">
        <div class="descrizione">
            <p> {{prodotto.descrizioneBreve}}</p>
        </div>
        <div class="info-container">
            <div  *ngIf="!prodotto.acquistato" class="disponibilita">
                Disponibilità: <span class="info-red">{{prodotto.disponibilita}} pezzi</span>
            </div>
            <div class="prezzo">
                Prezzo: <strong [ngClass]="prodotto.acquistato ? 'info-black' : 'info-red'">€{{prodotto.prezzo}}</strong>
            </div>
            <div *ngIf="prodotto.acquistato" class="data-acquisto">
                Data di acquisto: <strong style="font-style: Georgia;">{{prodotto.dataAcquisto}}</strong>
            </div>
            <div  *ngIf="prodotto.acquistato" class="quantità">
                Quantità: <span style="font-style: Georgia;"><strong>{{prodotto.quantita}}</strong> pezzi acquistati</span>
            </div>
        </div>
    </div>
    <div *ngIf="!prodotto.acquistato" class="card-buttons-container row g-0">
        <div class="col card-buttons">
            <button matTooltip="Carrello" mat-flat-button class="card-button-cart" (click)="addProdotto(prodotto)">
                <mat-icon>add_shopping_cart</mat-icon>
            </button>
            <button matTooltip="Dettaglio" mat-flat-button class="card-button-detail" [routerLink]="['/categorie', prodotto.idCategoria, 'prodotti', prodotto.id ]">
                <mat-icon>arrow_forward</mat-icon>
            </button>
        </div>
    </div>
</div>
