mat-toolbar {
    display: flex;
    justify-content: space-between;
    align-items: center;
    text-align: center;
    background-color: #9bb1ff;
    color: black;
    font-size: 20px;
    width: 100%;
    height: 65px;
}

mat-toolbar button {
    width: 33px;
    height: 33px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5465ff;
    background-color: white;
    border: solid 2px #5465ff;
}

mat-toolbar button mat-icon {
    display: flex;
    height: 20px;
    width: 20px;
    font-size: 20px;
    justify-content: center;
    align-items: center;
}

::ng-deep .mat-mdc-icon-button {
    padding: 0px !important;
}

.row {
    flex-wrap: nowrap;
}

.row .col {
    align-items: center;
}

.logo {
    width: 50px;
    justify-content: left;
    display: flex;
    margin-left: 3px;
}

p {
    display: flex;
    justify-content: right;
    font-family: Georgia;
    font-style: oblique;
    margin: 0 !important;
}

.menu {
    border-radius: 50px;
    margin-left: 20px;
}

.home {

    border-radius: 50%;
    margin-left: 20px;
}

.carrello {
    margin-right: 20px;
    border-radius: 50px;

}

.profile {
    margin-right: 20px;
    border-radius: 50px;
}

.profile img{
    min-width: 25px;
    min-height: 25px;
}

.login {
    margin-right: 20px;
    border-radius: 50px;

}

.messaggio {
    float: left;
    font-family: Georgia;
}

::ng-deep .profile-panel {
    width: 150px !important;
}