.title{
    display: flex;
    justify-content: center;
    font-family: 'Times New Roman', Times, serif;
    margin-bottom: 20px;
}

.cards-container {
    display: grid;
    grid-template-columns: repeat(auto-fill, 300px);
    row-gap: 40px !important;
    gap: 63px;
    /*  distanza tra le card a livello orizzontale */
}

