<div class="container login-container">
<form class="form" [formGroup]="loginForm" (ngSubmit)="login()">
  <div class="riga">
    <mat-form-field class="colonna">
      <mat-label>Inserire username</mat-label>
      <input matInput placeholder="username" formControlName="username">
    </mat-form-field>
      <mat-form-field class="colonna">
        <mat-label>Inserire password</mat-label>
        <input matInput type="password" placeholder="password" formControlName="password">
      </mat-form-field>
      <button type="submit" [disabled]="!loginForm.valid" mat-raised-button>Accedi</button>
  </div>
</form>
<p>Non sei ancora registrato? <a routerLink="/registrati">Registrati</a></p>
  </div>



    






    



