<button class="back-button" matTooltip="Indietro" [routerLink]="['/categorie', prodotto.idCategoria, 'prodotti']">
    <mat-icon>keyboard_double_arrow_left</mat-icon>
    <span>Indietro</span>
</button>
<div class="card" *ngIf="prodotto.id > 0">
    <div class="img-container">
        <img mat-card-image [src]="prodotto.urlImmagine" />
    </div>
    <div class="content">
        <h2>{{prodotto.nome}}</h2>
        <p class="descrizione"> {{prodotto.descrizioneLunga}}</p>
    </div>

    <div class="info-container">
        <div class="disponibilita">
            Disponibilità: <strong>{{prodotto.disponibilita}} pezzi</strong>
        </div>
        <div class="prezzo">
            Prezzo: <strong>€{{prodotto.prezzo}}</strong>
        </div>
    </div>
    <div class="card-button">
        <button (click)="aggiungiAlCarrello(prodotto)">Aggiungi al carrello</button>
    </div>
</div>