<button class="back-button" matTooltip="Indietro" (click)="goBack()">
    <mat-icon>keyboard_double_arrow_left</mat-icon>
    <span>Indietro</span>
</button>
<div style="display: flex; justify-content: center;">
    <div class="img-container">
        <div class="carousel"
            style="display: flex; flex-direction: column; justify-content: start; margin-right: 10px;">
            <img *ngFor="let img of getImmaginiCarosello(); let i = index" mat-card-image [src]="img.url"
                [alt]="'Immagine ' + (i + 2)" (click)="onImgClick(img)"/>
        </div>
        <img mat-card-image [src]="immagineCliccata.url" style="height: 100%; width: 100%; object-fit: contain;" />
    </div>


    <div class="card" *ngIf="prodotto.id > 0">
        <div class="content">
            <h2>{{prodotto.nome}}</h2>
            <p class="descrizione"> {{prodotto.descrizioneLunga}}</p>

            <div class="info-container">
                <div class="disponibilita">
                    Disponibilità: <strong>{{prodotto.disponibilita}} pezzi</strong>
                </div>
                <div class="prezzo">
                    Prezzo: <strong>€{{prodotto.prezzo}}</strong>
                </div>
            </div>
        </div>
        <div class="card-button">
            <button (click)="aggiungiAlCarrello(prodotto)">Aggiungi al carrello</button>
        </div>
    </div>
</div>