.profile-info-container {
    position: relative;
    background-color: #9bb1ff;
    border-radius: 8px;
    padding: 10px;
    width: 600px;
    height: 350px;
    margin: 0 auto;
    font-family: Georgia, 'Times New Roman', Times, serif;
    display: flex;
    flex-direction: column;
}

.modifica {
    top: 10px;
    right: 10px;
    position: absolute;
    cursor: pointer;
}

.avatar-container {
    display: flex;
}

.immagine-avatar {
    margin-bottom: 15px;
}

.immagine-avatar img {
    max-width: 60px !important;
    max-height: 60px !important;
}

.profile-info-container .profile-info {
    margin-bottom: 15px;
}

.indirizzo {
    height: 45px;
    display: flex;
    align-items: center;
}

mat-form-field {
    margin-left: 10px;
}

::ng-deep .mat-mdc-form-field-infix,
::ng-deep .mat-mdc-text-field-wrapper {
    display: flex;
    height: 30px !important;
    align-items: center !important;
    min-height: 30px !important;
}

::ng-deep .mat-mdc-form-field-subscript-wrapper {
    height: 0px !important;
}

.action-icon {
    font-size: 20px;
    cursor: pointer;
    margin-left: 10px;
}