<div class="profile-info-container">
  <div class="avatar-container">
    <div class="immagine-avatar">
      <img mat-card-image [src]="loggedUser?.urlAvatar" />
    </div>
    <div class="modifica">
      <mat-icon fontIcon="edit" matTooltip="Modifica"></mat-icon>
    </div>
  </div>
  <span><strong>Nome: </strong>{{loggedUser?.nome}}</span>
  <span><strong>Cognome: </strong>{{loggedUser?.cognome}}</span>
  <span><strong>Data di nascita: </strong>{{loggedUser?.dateOfBirth}}</span>
  <span><strong>Email: </strong>{{loggedUser?.email}}</span>
  <span><strong>Username: </strong>{{loggedUser?.username}}</span>
  <div class="indirizzo-container">
    <span><strong>Indirizzo: </strong></span>
    <mat-form-field>
      <mat-select [(value)]="selezionato" placeholder="Selezionare indirizzo">
        <mat-option value="opzione1">Indirizzo 1 </mat-option>
        <mat-option value="opzione1">Indirizzo 2 </mat-option>
        <mat-option value="opzione1">Indirizzo 3 </mat-option>
      </mat-select>
    </mat-form-field>
    <div class="icons">
      <mat-icon fontIcon="delete" matTooltip="Elimina indirizzo" class="azioni">
      </mat-icon><mat-icon fontIcon="add" matTooltip="Aggiungi indirizzo" class="azioni"></mat-icon>
    </div>
  </div>
</div>