.title{
    display: flex;
    justify-content: center;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

.global-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.global-container .cards-container {
    padding: 20px;
    width: 50%;
    min-height: 200px;
}

.global-container .cards-info-container{
    background-color: #d4dcff;
    border-radius: 5px;
    position: sticky;
    top: calc(20px + 65px);
    width: 50%;
    height: 350px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    line-height: 2rem;
    margin: 20px;
}

.card-prodotto{
    width: 100%;
    max-height: 700px;
    min-height: 200px;
    background-color: #d4dcff;
    display: flex;
    border-radius: 5px;
    margin-bottom: 10px;
}

.card-prodotto img {
    max-width: 240px;
    min-width: 240px;
    max-height: 190px;
    min-height: 190px;
    justify-content: center;
    align-items: center;
    margin: 10px;
}

.card-prodotto .info-container {
    position: relative;
    padding: 5px;
}

.card-prodotto .top-info-container {
    position: absolute;
    display: flex;
    width: 100%;
    top: 2px;
    right: 2px;
}

.card-prodotto .selected-checkbox{
    display: flex;
    justify-content: right;
    align-items: center;
    width: 100%;
}

.card-prodotto .bottom-info-container {
    position: absolute;
    display: flex;
    width: 100%;
    bottom: 4px;
}

.card-prodotto .available-info-container {
    display: flex;
    justify-content: left;
    align-items: center;
    color: red;
}

.card-prodotto .quantity-info-container {
    display: flex;
    justify-content: right;
    align-items: center;
    margin-right: 10px;
}

.card-prodotto .quantity-action-buttons {
    display: flex;
    justify-content: left;
    align-items: center;
    margin: 2px;
}

.card-prodotto mat-icon {
    display: flex;
    height: 20px;
    width: 20px;
    font-size: 18px;
    justify-content: center;
    align-items: center;
}

.card-prodotto button {
    width: 28px;
    height: 28px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #5465ff;
    background-color: white;
    border: solid 2px #5465ff;
    border-radius: 50px;
}

.cards-info-container .cards-buttons-actions button{
    background-color: white;
    color: black;
    border: solid 2px #5465ff;
    border-radius: 50px;
    margin: 10px 0px 10px 10px;
}

.cards-info-container .cards-buttons-actions button:hover{
    background-color: #5465ff;
    color: white;
}

